dn=C:UK,L:Glasgow,O:UniversityOfGlasgow,OU:NeSc,CN:DamesEE
dn=C:UK,L:Glasgow,O:UniversityOfGlasgow,OU:NeSc,CN:Sardar Hussain
dn=C:UK,L:Glasgow,O:UniversityOfGlasgow,OU:NeSc,CN:James Smith
dn=C:UK,L:Glasgow,O:UniversityOfGlasgow,OU:NeSc,CN:Ron Poet
dn=C:UK,L:Glasgow,O:UniversityOfGlasgow,OU:NeSc,CN:Richard Sinnott